@infoSize: 28px;
@minInfoSize: 24px;
@titleSize: 40px;
@signSize: 20px;
@radiusSize: 24px;
@marginSize: 20px;
@paddingSize: 20px;
@navBarHeight: 44PX;

@mainColor: #d81e06;
@textHintColor: #999999;
@bgColor: #f6f6f6;